# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
env/
.venv/

# Django
*.log
*.pot
*.py[cod]
db.sqlite3
/staticfiles/
media/

# Local environment variables
.env

# VS Code / IDE
.vscode/
.idea/
.vs/